:root {
  /* Color */

  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  /* width와 같은 크기지정을 border의 두깨가 다르더라도 border기준으로 크기가 맞춰진다. */
  box-sizing: border-box;
}
/* 모든바디 */
body {
  font-family: Roboto;
}

/* 모든 ul */
ul {
  /* 리스트스타일을 없애기 (점 없애기) */
  list-style: none;
}

button,
button:focus {
  /* 외곽선 없애기 */
  border: none;
  /* 커서시 마우스 포인터 나오게 */
  cursor: pointer;
  outline: none;
  /* 투명하게 */
  background-color: transparent;
}

/*============== Header ==============*/

/* 해더부분 */
header {
  /* flexbox */
  display: flex;
  /* flexbox의 가로정렬 부분을 space-between */
  justify-content: space-between;
  /* 패딩 12px */
  padding: var(--padding);
  /* 배경 검정 */
  background-color: var(--black-color);
  /* 색상은 흰색 */
  color: var(--white-color);
}
/* 해더안의 로고 */
header .logo {
  font-size: var(--font-large);
}
/* 해더안의 로고안의 i태그(아이콘)  */
header .logo i {
  color: var(--red-color);
}
/* 해더 안의 icons안의 fa-search (검색아이콘) */
header .icons .fa-search {
  margin-right: var(--padding);
}

/*============== Video Player ==============*/
.player {
  /* 요소 내의 모든 인라인 및 인라인 블록 요소를 가운데 정렬합니다. <video>태그는 기본적으로 인라인 블록 요소로 취급 */
  text-align: center;
  background-color: var(--black-color);
  /* 스크롤을 내릴경우도 비디오를 상단에 고정 */
  position: sticky;
  top: 0;
}
.player video {
  /* 아이템을 반응형으로 만드는 가장 좋은 방법 */
  width: 100%;
  height: 100%;
  /* 최대 크기 (더이상 안늘어남) */
  max-width: 1000px;
}

/*============== Info ==============*/

/* info section  */
body > .info {
  padding: var(--padding);
}

/* 해시태그 ul */
.info .metadata .hashtages {
  display: flex;
  font-size: var(--font-small);
  color: var(--blue-color);
}

/* 해시태그ul안의 li들 */
.info .metadata .hashtages li {
  margin-right: var(--padding);
}

/* 타이틀과 버튼 */
.info .metadata .titleAndButton {
  display: flex;
}

/* 타이틀 */
.info .metadata .titleAndButton .title {
  font-size: var(--font-medium);

  /* css line clamp 구글링 하여 mdn에서 예시 가져옴 */
  /* 줄 수 제한 거는 코드 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: var(--padding);
}

/* 타이틀 옆 버튼 */
.info .metadata .titleAndButton .moreBtn {
  height: 100%;
}

/* 타이틀 아래의 있는 조회수 */
.info .metadata .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

/* 엑션 버튼 (좋아요,나빠요,공유하기 등등)*/
.info .actions {
  display: flex;
  /* 아이템들의 “둘레(around)”에 균일한 간격 */
  justify-content: space-around;
  /* margin값의 뒤에가 0이면 좌우는 0을 준다 */
  margin: var(--padding) 0;
}
/* 액션 버튼 */
.info .actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

/* 엑션버튼 안에 있는 i (아이콘) */
.info .actions button i {
  /* 가로 중앙 정렬 */
  margin: 0 auto;
  /* 사칙연산 calc  */
  margin-bottom: calc(var(--padding) / 2);
  font-size: 16px;
}

/* 로고중에 active되어있는 부분만 */
.info .actions button i.active {
  color: var(--blue-color);
}

/* Channel Description */
.info .channel {
  display: flex;
  justify-content: space-between;
  /* 실선(solid) */
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}
.info .channel .metadata {
  display: flex;
  align-items: center;
}
.info .channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  /* 이미지 외곽을 동그라미로 */
  border-radius: 50%;
}
.info .channel .metadata .info {
  display: flex;
  flex-direction: column;
}
.info .channel .metadata .info .name {
  font-size: var(--font-medium);
}
.info .channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}
.info .channel .subscribe {
  /* 영어일경우 다 대문자로 */
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}

/* Up Next */
.upNext {
  /* 좌우 패딩 */
  padding: 0 var(--padding);
}
.upNext > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-bottom: calc(var(--padding) / 2);
}

.upNext .item {
  display: flex;
  margin-top: var(--padding);
}

.upNext .item .img {
  flex: 1 1 10%;
  margin-right: var(--padding);
}

.upNext .item .img img {
  width: 100%;
}

.upNext .item .info {
  flex: 1 1 60%;
}

.upNext .item .moreBtn {
  flex: 1 1 5%;
}

.upNext .item .info {
  display: flex;
  flex-direction: column;
}

.upNext .item .info .title {
  font-size: var(--font-small);
}

.upNext .item .info .name,
.upNext .item .info .views {
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}

.infoAndUpNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoAndUpNext {
    flex-direction: row;
    margin: var(--padding) 0;
  }
}
